---
import '../styles/heti.min.css';
import HeadCommon from '../components/HeadCommon.astro';
import HeadSEO from '../components/HeadSEO.astro';
import Footer from '../components/Footer.astro';
import AstroLogo from '../components/Header/AstroLogo.astro';
import LeftSidebar from '../components/LeftSidebar.astro';
import { SITE } from '@/config';
import {parseTitle} from '@/util'

export interface Props {
  title: string;
}
const pageUrl = new URL(Astro.request.url);
const currentPage = pageUrl.pathname;

let title = parseTitle(currentPage);

const { date, pic, desc } = Astro.props.frontmatter;
const content = {
  title,
  image: pic,
  description: desc,
};
const currentUrl = SITE.homePage + currentPage;
---

<html lang="ch">
  <head>
    <HeadCommon />
    <HeadSEO content={content} pageURL={currentUrl} />
    <meta name="generator" content={Astro.generator} />
    <title>{SITE.title}{title}</title>
    <style>
    body {
        width: 100%;
        --gutter: 0.5rem;
        --doc-padding: 2rem;
    }

    .layout {
        display: grid;
        grid-auto-flow: column;
        grid-template-columns:
              minmax(var(--gutter), 1fr) minmax(0, var(--max-width))
              minmax(var(--gutter), 1fr);
        overflow-x: hidden;
    }

    .heti h1.content-title:first-child {
        margin-block-start: 8px !important;
        margin-bottom: 16px;
    }

    .grid-sidebar {
        height: 100vh;
        position: sticky;
        top: 0;
        padding: 0;
        margin-left: -5px;
    }

    #grid-left {
        position: fixed;
        background-color: var(--theme-bg);
        z-index: 10;
        display: none;
    }

    #grid-main {
        padding: 0.8rem var(--gutter) 4rem var(--gutter);
        grid-column: 2;
        display: flex;
        flex-direction: column;
        height: 100%;
    }

    #grid-right {
        display: none;
    }

    @media (min-width: 50em) {
        .layout {
            overflow: initial;
            grid-template-columns: 18rem minmax(0, var(--max-width));
            gap: 0;
        }

        #grid-main {
            padding: 0.8rem 2rem 4rem 2rem;
        }

        #grid-left {
            display: flex;
            padding-left: 2rem;
            position: sticky;
            grid-column: 1;
        }
    }

    @media (min-width: 72em) {
        .layout {
            grid-template-columns: 20rem minmax(0, var(--max-width)) 13rem;
            padding-left: 0;
            padding-right: 0;
            margin: 0 auto;
        }

        #grid-right {
            grid-column: 3;
            display: flex;
        }
    }

    .gsc-left-header .color-text-secondary {
        display: none;
    }

    .logo {
        display: none;
        margin-top: -0.1em;
    }

    @media (max-width: 50em) {
        .logo {
            display: block;
            color: #fff;
            margin-top: -0.1em;
            margin-right: 0.2em;
        }

        .logo:active {
            text-decoration: none;
            border-block-end: none;
            padding-block-end: none;
        }

        #grid-main {
            margin-top: -7px;
            padding: 0.8rem 0.5rem var(--doc-padding) 0.5rem;
        }

        .heti h1.content-title:first-child {
            margin-bottom: 12px;
            font-size: 2rem;
        }
    }
    </style>
  </head>
  <body>
    <main class="layout">
      <aside id="grid-left" class="grid-sidebar" title="Site Navigation">
        <LeftSidebar currentPage={currentPage} />
      </aside>
      <div id="grid-main">
        <div
          class="markdown-body heti md:mx-auto pb-16 xl:max-w-7xl w-full lg:max-w-5xl md:max-w-2xl md:pl-3.5"
          id="write"
        >
          <h1 class="content-title flex align-middle">
            <a class="logo inline-block" href="/"><AstroLogo size={40} /></a>
            {title}
          </h1>
          <slot />
          <hr />
          <p class="mt-10 text-black">发布日期：{date}</p>
        </div>
        <script
          src="https://giscus.app/client.js"
          data-repo={SITE.repo}
          data-repo-id="R_kgDOG4TsQA"
          data-category="General"
          data-category-id="DIC_kwDOG4TsQM4CR4bV"
          data-mapping="title"
          data-strict="0"
          data-reactions-enabled="1"
          data-emit-metadata="0"
          data-input-position="bottom"
          data-theme="https://gw.alipayobjects.com/os/k/app2/comment.css"
          data-lang="zh-CN"
          data-loading="lazy"
          crossorigin="anonymous"
          async
        ></script>
      </div>
    </main>
    <Footer/>
  </body>
</html>
